body{
    background-color: #EEF5FF;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color:grey;
    height: 0px;
    width: 5%;
}

h1{
    color: #176B87;
}

h3{
    color: #176B87;
}

#submitBtn:hover{
    background-color:#DDF2FD;
}
#submitBtn{
    background-color:#176B87;
    transition: background-color 0.5s;
}